extends ../layout

block body
	h1 Agregar libro
	form(action="/book" method="POST" enctype="multipart/form-data" style="margin-top:2em")
		.form-group
			.row
				.col-xs-4.col-md-2
					label(for="title") Título del libro
				.col-xs-8.col-md-10
					input(type="text" name="title" class="form-control" required=true id="title")
		.form-group
			.row
				.col-xs-4.col-md-2
					label(for="description") Descripción
				.col-xs-8.col-md-10
					textarea(name="description" id="description" class="form-control")
		.form-group
			.row
				.col-xs-6.col-md-2
					label(for="avatar") Foto
				.col-xs-6.col-md-10
					input(name="avatar" type="file" class="form-control" id="avatar")
		.form-group
			.row
				.col-xs-4.col-md-2
					label(for="pages") Número de páginas
				.col-xs-8.col-md-10
					input(type="number" name="pages" class="form-control" id="pages")
		.form-group
			.row
				.col-xs-4.col-md-2
					label(for="published") Fecha de publicación
				.col-xs-8.col-md-10
					input(type="date" name="publishedAt" class="form-control" id="published")
		.form-group.text-right
			input(type="submit" class="btn btn-success" value="Guardar libro")



